<h1 class="m-3">Stupid Coaching</h1>


<div class="form-control d-flex flex-column mb-3">
  <div class="p-2 border-start mb-3">
    <p class="m-3"><%= @question %></p>
    <p class="fst-italic m-3">- You</p>
  </div>
  <div class="p-2 border-start border-6 alert alert-warning" role="alert">
    <p class="fw-bold m-3"><%= @answer %></p>
    <p class="fst-italic m-3">-Your Coach</p>
  </div>
</div>

<div class="m-3">
<%= link_to'Ask a new question', ask_path %>
</div>
