<div class="text-center">
<h1 class="mb-6">Stupid Coaching</h1>
<h4 class="subtitle">Ask your coach anything :</h4>
<form class="form" action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
